<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="py-5 bg-light"></div>
    <div class="bg-light">
        <div class="container ">
            <div class="row justify-content-center align-items-center">
                <div class="col-12">
                    <h1 class="display-6 fw-bold">Contact</h1>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit
                        atque eaque aliquam facilis dolores molestiae aliquid ipsum, fuga
                        repellendus. In accusantium necessitatibus tenetur iste distinctio
                        culpa iure aliquam optio velit.
                    </p>
                </div>
                <!-- Cambia el tamaño de la columna en función del tamaño de la pantalla -->
                <div class="col-12 col-sm-10 col-md-8 col-lg-7 p-3 ">       
                    <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label">Email address</label>
                        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
                      </div>
                      <div class="mb-3">
                        <label for="exampleFormControlTextarea1" class="form-label">Example textarea</label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Please enter your message here..."></textarea>
                      </div>
                      <div class="d-flex justify-content-end">
                      <div >
                        <button type="button" class="btn btn-primary">
                            Submit
                        </button>
                      </div>
                    </div>

                </div>
                
            </div>
        </div>
</body>

</html>